<!DOCTYPE HTML>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>AgileVentures - Certificate validation</title>
 <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
  <header>
    <h1>AgileVentures</h1>
	<h2>Certificate validation</h2>
  </header>

	<section>
    	<section>
     	   <p>Please use this system by entering a verification URL in your browsers address field.</p>
    	</section>
	</section>
</body>
</html>

